header {
  .lang-switcher {
    position: fixed;
    top: 60px;
    right: 0;
    display: block;
    padding: 5px 10px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    z-index: 3;
  }
}

  .navbar {
    background: #fff;
    //border-color: #434343;
    color: #5476b5;

    .signup {
      font-weight: bold;
    }
  }

  .navbar-nav {
    a {
      color: #5476b5 !important;

      &:hover {
        background-color: #fff !important;
        color: #000 !important;
      }
    }
  }

  .navbar-brand {
    width: 120px;
    margin-left: 0 !important;

    text-indent: -200%;

    background: url(/images/logo.png) no-repeat 50% 50%;
    background-size: 120px;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: #000 !important;
    }
  }

  .navbar-divider {
    border-right: 1px solid rgba(255,255,255,0.3);

    @media (max-width: @bootstrap-xs-max) {
      border-right: none;
    }
  }