.how-it-works {
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    //padding-top: 20px;
    margin-bottom: 30px;

    background: no-repeat 50% 0;
    background-size: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}