.pricing {
  margin: 0 auto;
  max-width: 700px;

  .item {
    padding: 20px 0;

    & > div {
      //border: 1px solid red;
    }

    &.first {
      border-top: 0;
    }
  }

  .image {
    text-align: center;
    margin-bottom: 20px;
  }

  .content {
    h3 {
      margin: 0;
      margin-bottom: 5px;
    }

    ul {
      margin: 0;
      padding-left: 15px;
    }
  }

  .price {
    text-align: center;
    margin-top: 22px;

    strong {
      display: block;
      font-size: 1.7em;
      font-weight: normal;
    }
  }

  @media (max-width: @bootstrap-xs-max) {
    .item {
      text-align: center;
      border-top: 1px solid #ddd;
      padding-left: 20px;
      padding-right: 20px;
    }

    .content ul {
      list-style-type: none;
    }
  }
}